// Override Bootstrap Defaults
.navbar {
  position: absolute;
  top: 0;
  margin: 0;
  border: 0;
  width: 100%;

  a { font-weight: 600; }
}

.nav li a:hover,
.nav li a:focus {
  background-color: transparent;
  color: transparentize(white, 0.2);
}

// Everything Mobile
@media (max-width: 480px) {
  .navbar {
    position: fixed;
    background-color: $main;
  }
}
.navbar-toggle { position: relative; width: 42px; height: 34px;}
.navbar-toggle .icon-bar { background-color: white; }
.navbar-header .navbar-toggle.collapsed {
  .icon-bar {
    position: absolute;
    transition: all 500ms;
    &:nth-child(1) { transform: translate(-50%, -50%); top: 30%; }
    &:nth-child(2) { transform: translate(-50%, -50%); top: 50%; opacity: 1 }
    &:nth-child(3) { transform: translate(-50%, -50%); top: 70%; }
  }
}
.navbar-header .navbar-toggle {
  .icon-bar {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform-origin: center;
    display: inline-block;
    transition: transform 500ms;
    &:nth-child(1) { transform: translate(-50%, -50%) rotateZ(45deg); }
    &:nth-child(2) { transform: translate(-50%, -50%); opacity: 0; }
    &:nth-child(3) { transform: translate(-50%, -50%) rotateZ(-45deg); }
  }
}
