.team-member {
  width: 150px;
  height: 150px;
  display: inline-block;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
}

#riffraff {
  background-image: url('/assets/images/team/riffraff.jpg');
}

#chainz {
  background-image: url('/assets/images/team/2chainz.jpeg');
}
#nene {
  background-image: url('/assets/images/team/nene.jpeg');
}

#miley {
    background-image: url('/assets/images/team/miley.jpg');
}
