.form-group {
  padding-right: 20px;
}

.form-control.form-dark {
  margin-bottom: 15px;
  border: none;
  outline: none;
  font-weight: 600;
  background-color: $md-gray;
  color: white;
  box-sizing: content-box;

  &:focus {
    box-shadow: none;
    border: 2px solid transparentize($lt-gray, 0.8);
  }
}
